<html>
  <head>
    <Title>
      User Game | All
    </Title>
  </head>
  <body>
    <% usersgame.forEach((i) => { %>
      <div>
        <h1>
          <%= i.username %>
        </h1>
        <p>
          <%= i.password %>
        </p>
        <a href="/usersgame/<%= i.id %>">
          Baca lebih lanjut
        </a>
        
        <br>
        
        <a href="/usersgame/update/<%= i.id %>">
          Update User
        </a>
        
        <br>
        
        <a href="/usersgame/delete/<%= i.id %>">
          Delete User
        </a>
      </div>
    <% }) %>
  </body>
</html>